.about-container {
  min-height: 650px;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.about-collapses {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 65px;
}

@media screen and (max-width: 430px) {
  .about-container {
    min-height: 519px;
  }
  .about-collapses {
    padding-top: 0px;
    min-height: 365px;
    margin-top: 35px;
  }
}
